html {
  background-color: #27272E;
}

#main {
  font-family: "Helvetica Neue";
  color: white;
  width: 800px;
  height: 380px;
  background-image: url(../img/greenback.gif);
  font-size: 24px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

#top {
  font-family: "Helvetica Neue";
  font-weight: 300;
  width: 800px;
  height: 32px;
  background-color: white;
  color: lightgray;
  padding-bottom: 4px;
}

.summary-text {
  font-size: 24px;
  margin: 0px;
  display: inline-block;
  float: left;
  padding: 5px 0 0 12px;
}

#close {
  color: gray;
  text-decoration: none;
  margin-top: -5px;
  font-size: 38px;
  padding: 1px 8px 0 0;
  float: right;
}

#left {
  width: 399px;
  height: 340px;
  float: left;
}

#right {
  width: 400px;
  height: 340px;
  float: right;
}

.labels {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: -15px;
  margin-bottom: -4px;
}

.city {
  font-weight: 250;
  font-size: 32px;
  letter-spacing: 2px;
  margin-top: -1px;
  display: inline-block;
}

.temperature-left {
  font-weight: 100;
  font-size: 108px;
  width: 160px;
  margin-left: 32px;
  display: inline;
}

.temperature {
  font-weight: 100;
  font-size: 108px;
  width: 160px;
  margin: 0px;
  display: inline;
}

.top-half {
  padding-left: 10px;
  padding-right: 20px;
  margin-top: -10px;
}

.top-half-right {
  padding-left: 10px;
  padding-right: 20px;
  margin-top: -15px;
}

.city-temp {
  margin-top: 1px;
  margin-left: 15px;
  text-align: left;
}

.city-temp-des {
  margin-top: 1px;
  margin-right: 25px;
  text-align: right;
}

.fahrenheit {
  font-size: 30px;
}

.destination-button {
  background-color: #105DAB;
  border-radius: 10px;
  border: 2px solid black;
  width: 210px;
  height: 50px;
  color: #F4F4F4;
  margin: 50px auto 0px auto;
}

.new-destination-button {
  background-color: #105DAB;
  border-radius: 10px;
  border: 2px solid black;
  width: 210px;
  height: 45px;
  color: #F4F4F4;
  padding-top: 4px;
  font-size: 24px;
}

.destination-button p {
  margin: 10px auto 0px auto;
}

#button-text {
  color: white;
  text-decoration: none;
}

.right-top {
  height: 170px;
  padding: 1px;
}

.right-bottom {
  text-align: center;
  height: 170px;
  padding: 1px;
}

.hourly-text {
  width: 267px;
  margin: 45px 52.5px 0px 78.5px;
}

.hourly-temps-table {
  margin: 5px auto 0px auto;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

.hourly-temps-table td {
  padding: 0px 15px 0px 10px;
}

.little-f {
  font-size: 18px;
}

.center-td {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.property-container {
  margin-top: -28px;
  clear: both;
}

.properties-table {
  margin: auto;
}

.properties-table td {
  padding: 0px 5px 3px 6px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#form {
  margin-top: 100px;
  text-align: center;
}

#form input {
  padding: 5px;
  border-radius: 8px;
  color: gray;
}

#input {
  width: 300px;
  height: 30px;
  font-size: 28px;
  font-weight: 300px;
  background-color: white;
}

:focus {
  outline: none;
}

#submit-button {
  background-color: #105DAB;
  border-radius: 10px;
  border: 2px solid black;
  width: 210px;
  height: 50px;
  color: #F4F4F4;
  margin: 50px auto 0px auto;
  font-size: 24px;
}

#submit-text {
  color: white;
  text-decoration: none;
}

#back {
  font-size: 24px;
  background-color: #105DAB; 
  color: white; 
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid black;
  padding: 7px;
}

.weather {
  margin-top: 15px;
  font-size: 70px;
  font-weight: 200;
}

.weather-left {
  margin-top: 15px;
  margin-left: -20px;
  font-size: 70px;
  font-weight: 200;
}

.table-data {
  text-align: right;
}

/* Dash Stuff */
.container {
  background: black;
  width: 800px;
  height: 380px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.time {
  color: white;
  font-size: 94px;
  font-family: "Lucida Grande";
  letter-spacing: 5px;
  text-align: right;
  padding-right: 25px;
  float: right;
  display: inline;
}

.icontop {
  padding-top: 10px;
  padding-left: 25px;
  height: 170px;
  width: 150px;
}

#image-link {
  text-decoration: none;
}

.icontopleft {
  padding-left: 60px;
  padding-top: 10px;
  height: 170px;
  width: 150px;
}

.iconbottom {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 25px;  
  height: 170px;
  width: 150px;
}

.iconbottomleft {
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 8px;
  height: 170px;
  width: 150px;
}

.load-screen {
  width: 800px;
  height: 380px;
  background-image: url(../img/loading-icon.gif);
  padding: 0px;
  margin-top: 100px;
  border: 2px solid gray;
  margin-right: auto;
  margin-left: auto;
}

.spinner {
  display: block;
  margin: 300px auto 0px auto;
}