<div id="main">
<div id="top">
    <p class="summary-text">Forecast: {{main.summary}}</p>
    <a href="#/dash" id="close">X</a>
</div>
<div id="left">
<!--     <div class="load-screen" ng-show="main.dataLoading">
        Loading...
    </div> -->

    <div class="top-half">
        <i class="wi wi-{{main.icon}} weather"></i>
        <div class="city-temp">
            <p class="labels">Current City:</p>
            <p class="city">{{ main.city }}</p>
            <p class="temperature">{{main.temperature | number:0}}°<span class="fahrenheit">F</span></p>
        </div>
    </div>
    <div class="property-container">
        <table class="properties-table">
            <tr>
                <td>Feels Like</td>
                <td class="table-data">{{main.feelsLike | number:0}}°</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td class="table-data">{{main.humidity | number:0}}%</td>
            </tr>
            <tr>
                <td>Precipitation</td>
                <td class="table-data">{{main.precipitation}}%</td>
            </tr>
            <tr>
                <td>Wind</td>
                <td class="table-data">{{main.windSpeed | number:0}} mph</td>
            </tr>
        </table>
    </div>
</div>
<div id="right">
    <div class="right-top">
        <table class="hourly-temps-table">
            <tr>
                <td>{{main.firstHour | date :'h a'}}</td>
                <td class="center-td">{{main.secondHour | date :'h a'}}</td>
                <td>{{main.thirdHour | date :'h a'}}</td>
            </tr>
            <tr>
                <td>{{main.firstHourTemp | number:0}}°</td>
                <td class="center-td">{{main.secondHourTemp | number:0}}°</td>
                <td>{{main.thirdHourTemp | number:0}}°</td>
            </tr>
        </table>
    </div>
    <div class="right-bottom">
        <div class="destination-button">
            <p><a href="#/form" id="button-text">Add Destination</a></p>
        </div>
    </div>
</div>
</div>