<div id="left">
    <div class="top-half">
        <div class="image-container">
            <img ng-src="img/{{main.icon}}.png">
        </div>
        <div class="city-temp">
            <p class="city">{{ main.city }}</p>
            <p class="temperature">{{main.temperature | number:0}}°<span class="fahrenheit">F</span></p>
        </div>
    </div>
    <div class="property-container">
        <table class="properties-table">
            <tr>
                <td>Feels Like</td>
                <td>{{main.feelsLike | number:0}}°</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{main.humidity | number:0}}%</td>
            </tr>
            <tr>
                <td>Wind</td>
                <td>{{main.windSpeed | number:0}} mph</td>
            </tr>
            <tr>
                <td>Wind</td>
                <td>{{main.windSpeed | number:0}} mph</td>
            </tr>
        </table>
    </div>
</div>
<div id="right">
    <div class="right-top">
        <table class="hourly-temps-table">
            <tr>
                <td>{{main.firstHour | date :'h a'}}</td>
                <td class="center-td">{{main.secondHour | date :'h a'}}</td>
                <td>{{main.thirdHour | date :'h a'}}</td>
            </tr>
            <tr>
                <td>{{main.firstHourTemp | number:0}}°</td>
                <td class="center-td">{{main.secondHourTemp | number:0}}°</td>
                <td>{{main.thirdHourTemp | number:0}}°</td>
            </tr>
        </table>
    </div>
    <div class="right-bottom">
        <div class="destination-button">
            <p><a href="#/form" id="button-text">Add Destination</a></p>
        </div>
    </div>
</div>